@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Nunito+Sans&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #11071e;
}
.header{
    background-color: #1A0b2e;
    position: relative;
    padding-top: 28px;
    padding-bottom: 28px;
}

.header::before{
    content:"";
    background-image: url(../images/figure.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 408px;
    width: 100%;
    max-width: 364px;
    position: absolute ;
    z-index: -1;
}

.header_title{
  margin: 0;  
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.header_title::before,
.header_title::after {
    content:"";
    background-image: url(../images/figure.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 17px;
    width: 24px;
}

.header_container {
    max-width: 1172px;
    padding: 0 15px;
    margin: 0 auto;
}